VITE_GATEWAY_API_BASE_URL=https://backend.zamoranogamarra.online/api/v1
VITE_GOOGLE_CLIENT_ID=390052558360-92cpd65a7fqn7fu4lmmb2le3tm8p3s7h.apps.googleusercontent.com
VITE_RESERVATION_WS_URL=https://backend.zamoranogamarra.online/v1/ws/reservations
VITE_POCKETBASE_URL=https://bd-labconnect.zamoranogamarra.online